Source: magit
Section: editors
Priority: extra
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: cdbs,emacs22 | emacsen
Standards-Version: 3.7.2

Package: magit
Architecture: all
Enhances: git
Depends: emacsen, git-core
Description: Cool Emacs frontend for Git. Originated by Marius Volmer.
