#!/usr/bin/make -f

# why this?
# DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes


# Let's use CDBS!
include /usr/share/cdbs/1/rules/debhelper.mk


clean::
	-$(MAKE) clean

install/magit::
	-$(MAKE) install DESTDIR=$(DEB_DESTDIR)

#DEB_EMACS_PRIORITY := 55
#DEB_INSTALL_DOCS_ALL := README RELEASE_NOTES
#DEB_INSTALL_CHANGELOGS_ALL := NEWS


#build:
